<a href="https://colab.research.google.com/github/JakeReas/Python_Lec/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome

Welcome to the first practical work of the week! In this practical, we will learn about the programming language Python as well as NumPy and Matplotlib, two fundamental tools for data science and machine learning in Python.

# Notebooks

This week, we will use Jupyter notebooks and Google colab as the primary way to practice machine learning. Notebooks are a great way to mix executable code with rich contents (HTML, images, equations written in LaTeX). The document that you are reading is not a static web page, but an interactive environment called a notebook, that lets you write and execute code. Colab allows to run notebooks on the cloud for free without any prior installation, while leveraging the power of [GPUs](https://en.wikipedia.org/wiki/Graphics_processing_unit).

**What is Google Colab?**

Colab is Google's implementation of [Jupyter Notebook](https://jupyter.org/). Like all Jupyter Notebooks, a Colab consists of two kinds of components:

  * **Text cells**, which contain explanations. You are currently reading a text cell.
  * **Code cells**, which contain Python code for you to run. Code cells have a light gray background. For example, here is a code cell that stores the result of a computation (the number of seconds in a day) in a variable and prints its value:

You *read* the text cells and *run* the code cells. 

**Running code cells**

You must run code cells in order. In other words, you may only run a code cell once all the code cells preceding it have already been run. 

To run a code cell press Shift + Enter or place the cursor anywhere inside the [ ] area at the top left of a code cell. The area inside the [ ] will display an arrow. Click it to run a cell. You can also run all cells by clicking Runtime -> Run all

**If you see errors...**

The most common reasons for seeing code cell errors are as follows:

  * You didn't run *all* of the code cells preceding the current code cell.
  * If the code cell is labeled as a **Task**, then:
    *  You haven't yet written the code that implements the task.
    *  You did write the code, but the code contained errors.

In [ ]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

Click on the "play" button to execute the cell. You should be able to see the result. Alternatively, you can also execute the cell by pressing Ctrl + Enter if you are on Windows / Linux or Command + Enter if you are on a Mac.

Variables that you defined in one cell can later be used in other cells:

In [ ]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

Note that the order of execution is important. For instance, if we do not run the cell storing *seconds_in_a_day* beforehand, the above cell will raise an error, as it depends on this variable. To make sure that you run all the cells in the correct order, you can also click on "Runtime" in the top-level menu, then "Run all".

**Exercise.** Add a cell below this cell: click on this cell then click on "+ Code". In the new cell, compute the number of seconds in a year by reusing the variable *seconds_in_a_day*. Run the new cell.

# Python

Python is one of the most popular programming languages for machine learning, both in academia and in industry. As such, it is essential to learn this language for anyone interested in machine learning. In this section, we will review Python basics.

# Data types

### **Basic data types**

#### Numbers

Integers and floats work as you would expect from other languages:

In [ ]:
x = 3
print(x, type(x))

3 <class 'int'>

**Arithmetic operators:** Python supports the usual arithmetic operators: + (addition), * (multiplication), / (division), ** (power), // (integer division).

In [ ]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation

4
2
6
9

In [ ]:
x += 1
print(x)
x *= 2
print(x)

4
8

In [ ]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

Note that unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

**Math Functions Excercise: ** Try few math commands (max(value1, value2) , min(value1, value2), sqrt(x), round(x), ceil(x), floor(x))

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

#### Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
t, f = True, False
print(type(t))

<class 'bool'>

Now we let's look at the operations:

In [ ]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

#### Strings

Strings are used to store text. They can delimited using either single quotes or double quotes

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello, len(hello))

hello 5

Strings behave similarly to lists. As such we can access individual elements in exactly the same way

In [ ]:
string1 = "some text"
string2 = 'some other text'
string1[3]

'e'

and similarly for slices

In [ ]:
string1[5:]

'text'

String concatenation is performed using the `+` operator

In [ ]:
string1 + " " + string2

'some text some other text'

Some operations on strings also work with other sequence types, both mutable and immutable. 
For example:
     x in s
     x not in s

In [ ]:
't' in string1

True

In [ ]:
hw = hello + ' ' + world  # String concatenation
print(hw)

hello world

In [ ]:
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(hw12)

hello world 12

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

**Excercise**: Try few String commands

**String modules:**

*   A module is a file containing Python definitions, functions, statements.
*   Standard library of Python is extended as modules.
*   Once we import a module, we can reference or use to any of its functions or variables in our code.
*   There is large number of standard modules also available in python.
*   Standard modules can be imported the same way as we import our user-defined modules.

In [ ]:
import string

print(string.punctuation)

print(string.digits)

print(string.printable)

print(string.capwords("happy birthday"))

print(string.hexdigits)

print(string.octdigits)

You can find a list of all string methods in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

# Containers or Squence Data types

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

#### Lists

Lists are a container type for ordered sequences of elements. A list is the Python equivalent of an array, but is resizeable and can contain elements of different types. Lists are a container type for ordered sequences of elements. Lists can be initialized empty.

In [ ]:
my_list = []

or with some initial elements

In [ ]:
my_list = [1, 2, 3]

Lists have a dynamic size and elements can be added (appended) to them

In [ ]:
my_list.append(4) # Add a new element to the end of the list
my_list

[1, 2, 3, 4]

We can access individual elements of a list (indexing starts from 0)

In [ ]:
my_list[2]

3

In [ ]:
xs = [3, 1, 2]   # Create a list
print(xs, xs[2])
print(xs[-1])     # Negative indices count from the end of the list; prints "2"

[3, 1, 2] 2
2

In [ ]:
xs[2] = 'foo'    # Lists can contain elements of different types
print(xs)

[3, 1, 'foo']

In [ ]:
xs.append('bar') # Add a new element to the end of the list
print(xs)

[3, 1, 'foo', 'bar']

In [ ]:
x = xs.pop()     # Remove and return the last element of the list
print(x, xs)

bar [3, 1, 'foo']

We can check if an element is in the list using `in`

In [ ]:
my_list = [1, 2, 3, 4]
5 in my_list

False

The length of a list can be obtained using the `len` function

In [ ]:
len(my_list)

4

#### Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing. We can access "slices" of a list using my_list[i:j] where i is the start of the slice (again, indexing starts from 0) and j the end of the slice.

In [ ]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"
print(nums[-4:-1])  # Slice indices can be negative; prints "[1, 2, 3]"
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[1, 2, 3]
[0, 1, 8, 9, 4]

#### Loops

You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: cat
#2: dog
#3: monkey

#### List comprehensions

***Comprehensions in Python provide us with a short and concise way to construct new sequences (such as lists, set, dictionary etc***.)

List (or any sequence data type) comprehension is an elegant and concise way to create a new List from an iterable in Python. List comprehension consists of an expression list name followed by a for statement inside square bracket [ ] (in case of dictionary it is curly brackets {}).

Here is an example to make a list with each item being a pair of a number and its square.

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists).

#### Dictionaries

Dictionary is an unordered collection of elements. An element in dictionary has a key: value pair.

1.  All elements in dictionary are placed inside the curly braces i.e. { }
2.  Elements in Dictionaries are accessed via keys and not by their position.
3.  The values of a dictionary can be any data type.
4.  Keys must be immutable data type (numbers, strings, tuple)

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; prints "True"

cute
True

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"

wet

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: 'monkey'

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

N/A
wet

In [ ]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

**Looping through a dictionary**

Since dictionaries are really about connecting bits of information, you will often use them in the ways described above, where you add key-value pairs whenever you receive some new information, and then you retrieve the key-value pairs that you care about. Sometimes, however, you will want to loop through the entire dictionary. There are several ways to do this:

1. You can loop through all key-value pairs;
2. You can loop through the keys, and pull out the values for any keys that you care about;
3. You can loop through the values.

**Looping through all key-value pairs**

This is the kind of loop that was shown in the first example. Here's what this loop looks like, in a general format:

In [ ]:
# Example 1
my_dict = {'key_1': 'value_1',
    'key_2': 'value_2',
    'key_3': 'value_3',
    }

for key, value in my_dict.items():
    print('\nKey: %s' % key)
    print('Value: %s' % value)

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [ ]:
# Example 2
my_dict = {'key_1': 'value_1',
    'key_2': 'value_2',
    'key_3': 'value_3',
    }

print(my_dict.items())

In [ ]:
# Example 3
python_words = {'list': 'A collection of values that are not connected, but have an order.',
                'dictionary': 'A collection of key-value pairs.',
                'function': 'A named set of instructions that defines a set of actions in Python.',
                }

for word, meaning in python_words.items():
    print("\nWord: %s" % word)
    print("Meaning: %s" % meaning)

Word: list
Meaning: A collection of values that are not connected, but have an order.

Word: dictionary
Meaning: A collection of key-value pairs.

Word: function
Meaning: A named set of instructions that defines a set of actions in Python.

In [ ]:
# Example 4
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

**Looping through all keys in a dictionary**

In [ ]:
my_dict = {'key_1': 'value_1',
    'key_2': 'value_2',
    'key_3': 'value_3',
    }

for key in my_dict.keys():
    print('Key: %s' % key)

# try all above examples for keys()

Key: key_1
Key: key_2
Key: key_3

In [ ]:
# Looping through a dictionary in order
for word in sorted(python_words.keys()):
    print(word)

dictionary
function
list

In [ ]:
# alternativaly
for word in sorted(python_words.keys()):
    print("%s: %s" % (word.title(), python_words[word]))

Dictionary: A collection of key-value pairs.
Function: A named set of instructions that defines a set of actions in Python.
List: A collection of values that are not connected, but have an order.

**Looping through all values in a dictionary**

In [ ]:
my_dict = {'key_1': 'value_1',
    'key_2': 'value_2',
    'key_3': 'value_3',
    }

for value in my_dict.values():
    print('Value: %s' % value)
# try all items() examples for keys()

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

**Exercises:**
The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values.

In [ ]:
# Write your code below and press Shift+Enter to execute

b) Use the dictionary to find the total sales of <b>Thriller</b>:

In [ ]:
# Write your code below and press Shift+Enter to execute

c) Find the names of the albums from the dictionary using the method <code>keys</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

d) Find the names of the recording sales from the dictionary using the method <code>values</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

**Exercises**

**Mountain Heights**

Wikipedia has a list of the tallest mountains (refer https://en.wikipedia.org/wiki/List_of_mountains_by_elevation ) in the world, with each mountain's elevation. Pick five mountains from this list.

1. Create a dictionary with the mountain names as keys, and the elevations as 
values.
2. Print out just the mountains' names, by looping through the keys of your dictionary.
3. Print out just the mountains' elevations, by looping through the values of your dictionary.
4. Print out a series of statements telling how tall each mountain is: "Everest is 8848 meters tall."

**Revise your output, if necessary.**

1. Make sure there is an introductory sentence describing the output for each loop you write.
2. Make sure there is a blank line between each group of statements.
Mountain Heights 2

**Revise your final output from Mountain Heights**, so that the information is listed in alphabetical order by each mountain's name.

That is, print out a series of statements telling how tall each mountain is: "Everest is 8848 meters tall."

Make sure your output is in alphabetical order.

#### Sets -- Addtional for self learning

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

*Loops*: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: dog
#2: fish
#3: cat

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

#### Tuples

A tuple is an (immutable) ordered list of values. Tuples are identical to lists in all respects, except for the following properties:

1. Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([ ]).
2. Tuples are immutable.
3. Tuples can be used as keys in dictionaries and as elements of sets, while lists cannot.

Here is a short example showing a tuple definition, indexing, and slicing:

In [ ]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
t
t[0]
t[-1]
t[1::2]
t[::-1]

In [ ]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

**List inside Tuple**

In [ ]:
tempTuple = ('Welcome', 'to', 'interview', 'bit.', 'Have', 'a', 'great', 'day', [1, 2, 3])
# tempTuple[0] = 'Hello' # throws type error, tuple object does not support type assignment.
tempTuple[8].append(4) # appending a new integer i.e. 4 in a list at 8th index of the tuple ‘tempTuple’
# Printing the list at 8th index in the tuple
print(tempTuple[8]) # OUTPUT: [1, 2, 3, 4]
tempTuple[8].pop(3) # popping element at 3rd index from the list i.e. 8th index of the tuple 'tempTuple'
# Printing the list at 8th index in the tuple
print(tempTuple[8]) # OUTPUT: [1, 2, 3]
tempTuple = (1, 2, 3) # Assigning tuple all over again
# Printing the tuple
print(tempTuple) # OUTPUT: (1, 2, 3)

**Deleting Tuple**

In [ ]:
tempTuple = (1, 2, 3, 4, 5)
# tempTuple.pop() # throws error as object has no attribute pop
# del tempTuple[3] # throws error as tuple does not support object deletion
print(tempTuple) # OUTPUT: (1, 2, 3, 4, 5)
del tempTuple
print(tempTuple) # throws NameError: name 'tempTuple' is not defined

**Example : tuple comprehension Python**

Simple example code. Wrap generator object using tuple() function.

In [ ]:
tuple1 = (1, 6, 5, 9, 9, 1, 25, 76)
tuple2 = tuple((i for i in tuple1 if i % 5 == 0))

print(tuple2)

(5, 25)

## Conditionals

As their name indicates, conditionals are a way to execute code depending on whether a condition is True or False. As in other languages, Python supports `if` and `else` but `else if` is contracted into `elif`, as the example below demonstrates.

In [ ]:
my_variable = 5
if my_variable < 0:
  print("negative")
elif my_variable == 0:
  print("null")
else: # my_variable > 0
  print("positive")

positive

Here `<` and `>` are the strict `less` and `greater than` operators, while `==` is the equality operator (not to be confused with `=`, the variable assignment operator). The operators `<=` and `>=` can be used for less (resp. greater) than or equal comparisons.

Contrary to other languages, blocks of code are delimited using indentation. Here, we use 2-space indentation but many programmers also use 4-space indentation. Any one is fine as long as you are consistent throughout your code.

## Loops

Loops are a way to execute a block of code multiple times. There are two main types of loops: while loops and for loops.

While loop

In [ ]:
i = 0
while i < len(my_list):
  print(my_list[i])
  i += 1 # equivalent to i = i + 1

1
2
3
4

For loop

In [ ]:
for i in range(len(my_list)):
  print(my_list[i])

1
2
3
4

If the goal is simply to iterate over a list, we can do so directly as follows

In [ ]:
for element in my_list:
  print(element)

1
2
3
4

## Functions

To improve code readability, it is common to separate the code into different blocks, responsible for performing precise actions: functions. A function takes some inputs and process them to return some outputs.

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

In [ ]:
def square(x):
  return x ** 2

def multiply(a, b):
  return a * b

# Functions can be composed.
square(multiply(3, 2))

36

To improve code readability, it is sometimes useful to explicitly name the arguments

In [ ]:
square(multiply(a=3, b=2))

36

## Exercises

**Exercise 1.** Using a conditional, write the [relu](https://en.wikipedia.org/wiki/Rectifier_(neural_networks)) function defined as follows

$\text{relu}(x) = \left\{
   \begin{array}{rl}
     x, & \text{if }  x \ge 0 \\
     0, & \text{otherwise }.
   \end{array}\right.$

In [ ]:
def relu(x):
  # Write your function here
  return

relu(-3)

**Exercise 2.** Using a foor loop, write a function that computes the [Euclidean norm](https://en.wikipedia.org/wiki/Norm_(mathematics)#Euclidean_norm) of a vector, represented as a list.

In [ ]:
def euclidean_norm(vector):
  # Write your function here
  return

import numpy as np
my_vector = [0.5, -1.2, 3.3, 4.5]
# The result should be roughly 5.729746940310715
euclidean_norm(my_vector)

5.729746940310715

**Exercise 3.** Using a for loop and a conditional, write a function that returns the maximum value in a vector.

In [ ]:
def vector_maximum(vector):
  # Write your function here
  return

**Bonus exercise.** if time permits, write a function that sorts a list in ascending order (from smaller to bigger) using the [bubble sort](https://en.wikipedia.org/wiki/Bubble_sort) algorithm.

In [ ]:
def bubble_sort(my_list):
  # Write your function here
  return

my_list = [1, -3, 3, 2]
# Should return [-3, 1, 2, 3]
bubble_sort(my_list)

## Going further

Clearly, it is impossible to cover all the language features in this short introduction. To go further, I recommend the following resources:



*   List of Python [tutorials](https://wiki.python.org/moin/BeginnersGuide/Programmers)
* Four-hour [course](https://www.youtube.com/watch?v=rfscVS0vtbw) on Youtube

# Python Classes and Objects

#### <b>What is a Python Class ?</b>

A class is a user-defined blueprint or prototype from which objects are created.

 
#### <b>Why do we use Classes?</b>

Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by its class) for modifying its state.

To understand the need for creating a class, let’s consider an example. Let’s say you wanted to track the number of dogs which may have different attributes like breed and age. If a list is used, the first element could be the dog’s breed while the second element could represent its age. Let’s suppose there are 100 different dogs, then how would you know which element is supposed to be which? What if you wanted to add other properties to these dogs? This lacks organization and it demonstrates the need for classes.

Class creates a user-defined data structure, which holds its own data members and member functions that can be accessed and used by creating an instance of that class. A class is like a blueprint for an object.

#### <b>How do we create Classes?</b>

Here are simple rules to create a class in Python:
 - Classes are created by keyword **class**.
 - Attributes are the variables that belong to class. 
 - Attributes are always public and can be accessed using dot (.) operator. Eg.: Myclass.Myattribute
 - Attributes can be made not directly visible by adding a double underscore prefix to their name. Eg.: Myclass.__Hiddenattribute
    
Here is the syntax of a class in Python:
```python
class ClassName:
    # Statement-1
    .
    .
    .
    # Statement-N
```

In the following example, **class** keyword indicates that you are creating a class followed by the name of the class (Dog in this case).

```python

class Dog:  
        
    # Class Variable  
    animal = 'dog'      
        
    # The init method or constructor  
    def __init__(self, breed):  
            
        # Instance Variable  
        self.breed = breed              
    
    # Adds an instance variable   
    def setColor(self, color):  
        self.color = color  
        
    # Retrieves instance variable      
    def getColor(self):      
        return self.color     
    
# Driver Code  
Rodger = Dog("pug")  
Rodger.setColor("brown")  
print(Rodger.getColor())   
```

The **__init__** method is a constructor. Constructors are used to initialize the object’s state. Like methods, a constructor also contains a collection of 
statements (i.e. instructions) that are executed at time of Object creation. 
It is run as soon as an object of a class is instantiated. The method is useful to do any initialization you want to do with your object.

Often, the first argument of a method is called self. This is nothing more than a convention: the name self has absolutely no special meaning to Python. 
The **self** represents the instance of the class. By using the **self** keyword we can access the attributes and methods of the class in python.

We do not give a value for this parameter when we call the method, Python provides it.
If we have a method which takes no arguments, then we still have to have one argument.
When we call a method of this object as **myobject.method(arg1, arg2)**, this is automatically converted by Python into **MyClass.method(myobject, arg1, arg2)**. 
This is what the special **self** is about.

In [ ]:
class Dog:  

    # Class Variable  
    animal = 'dog'      

    # The init method or constructor  
    def __init__(self, breed):  

        # Instance Variable  
        self.breed = breed              

    # Adds an instance variable   
    def setColor(self, color):  
        self.color = color  

    # Retrieves instance variable      
    def getColor(self):      
        return self.color     

# Driver Code  
Rodger = Dog("pug")  
Rodger.setColor("brown")  
print(Rodger.getColor())

brown

#### <b>What is a Python Object?</b>

An Object is an instance of a Class. 

#### <b>Why do we use an Object?</b>

A class is like a blueprint while an instance is a copy of the class with *actual values*. 
It’s not an idea anymore, it’s an actual dog, like a dog that has the breed of pug and is seven years old. 
You can have many dogs to create many different instances, but without the class as a guide, you would be lost, not knowing what information is required.

An object consists of :

 - State : It is represented by attributes of an object. It also reflects the properties of an object.
 - Behavior : It is represented by methods of an object. It also reflects the response of an object with other objects.
 - Identity : It gives a unique name to an object and enables one object to interact with other objects.

![ClassImage1.png]()

#### <b>How do we create Objects (Also called instantiating a class)?</b>

When an object of a class is created, the class is said to be instantiated. 
All the instances share the attributes and the behavior of the class. But the values of those attributes, i.e. the states are unique for each object. 
A single class may have any number of instances. 

Instance variables are for data that is unique to each instance. Class variables are for attributes and methods shared by all instances of the class.
Instance variables are variables whose value is assigned inside a constructor or method with **self** whereas class variables are variables whose value is assigned in the class.

![ClassImage2.png]()



Here is an example:
```python
class Dog:  
          
    # A simple class 
    # attribute 
    attr1 = "mammal"
    attr2 = "dog"
    
    # init method or constructor   
    def __init__(self, name):  
        self.name = name  
  
    # A sample method   
    def fun(self):  
        print("I'm a", self.attr1) 
        print("I'm a", self.attr2) 
        print("My name is", self.name) 

# Driver code 
# Object instantiation 
first_dog = Dog('Justin') 
  
# Accessing class attributes 
# and method through objects 
print(first_dog.attr1) 
first_dog.fun() 
```
When the above code is executed, it produces the following result.
```python
mammal
I'm a mammal
I'm a dog
My name is Justin
```

In the above example, an object (**first_dog**) is created which is basically a dog. 
This class only has two **class** attributes that tell us that first_dog is a dog and a mammal and one **instance** attribute that tells us that the dog is named Justin.

In [ ]:
class Dog:  

    # A simple class 
    # attribute 
    attr1 = "mammal"
    attr2 = "dog"

    # init method or constructor   
    def __init__(self, name):  
        self.name = name  

    # A sample method   
    def fun(self):  
        print("I'm a", self.attr1) 
        print("I'm a", self.attr2) 
        print("My name is", self.name) 

# Driver code 
# Object instantiation 
first_dog = Dog('Justin') 

# Accessing class attributes 
# and method through objects 
print(first_dog.attr1) 
first_dog.fun()

mammal
I'm a mammal
I'm a dog
My name is Justin

#### <b>Where can I find more information on Classes and Objects?</b>

[Official python documentation on classes and objects](https://docs.python.org/3.7/tutorial/classes.html)

# <center> RegEx in Python</center>

![](images/memes/meme3.jpg)

# Getting started with RegEx in Python

The **[re](https://docs.python.org/3/howto/regex.html)** module provides an interface to the regular expression engine, allowing you to **compile regular expressions into objects and then perform matches with them**.

In [ ]:
import re

## 1. Compiling Regular Expressions

Regular expressions are **compiled** into `Pattern` objects, which have methods for various operations such as searching for pattern matches or performing string substitutions.


### `re.compile(pattern, flags=0)`

Compile a regular expression pattern, returning a pattern object.

- The regular expression is passed to `re.compile()` as a **string**. 

> Regular expressions are handled as strings because regular expressions aren’t part of the core Python language, and no special syntax was created for expressing them. 

> Regular expression patterns are compiled into a series of bytecodes which are then executed by a matching engine written in C.

In [ ]:
pattern = re.compile("hello")

In [ ]:
pattern

re.compile(r'hello', re.UNICODE)

- `re.compile()` also accepts an optional `flags` argument, used to enable various special features and syntax variations. [More about flags](http://xahlee.info/python/python_regex_flags.html)

<br>

In the example below, we use the flag `re.I` (short for `re.IGNORECASE`) to ignore letter case in the regex pattern.

In [ ]:
pattern = re.compile("hello", flags=re.I)

In [ ]:
pattern

re.compile(r'hello', re.IGNORECASE|re.UNICODE)

## 2. Performing Matches

So, we have created a `Pattern` object representing a compiled regular expression using `re.compile()` method.

Pattern objects have several methods and attributes.

Here is the list of different methods used for performing matches:


<table style="border: 1px solid black; font-size:15px;">
<thead>
    <th>Method/Attribute</th>
    <th>Purpose</th>
</thead>
    
<tbody>
<tr>
    <td>match()</td>
    <td>Determine if the RE matches at the beginning of the string.</td>
</tr>
    
<tr>
    <td>search()</td>
    <td>Scan through a string, looking for any location where this RE matches.</td>
</tr>

<tr>
    <td>findall()</td>
    <td>Find all substrings where the RE matches, and returns them as a list.</td>
</tr>

<tr>
    <td>finditer()</td>
    <td>Find all substrings where the RE matches, and returns them as an iterator.</td>
</tr>
</tbody>
</table>

Let us go through them one by one:

### `match(string[, pos[, endpos]])`

- A match is checked only at the beginning (by default).

- Checking starts from `pos` index of the string. (default is 0)

- Checking is done until `endpos` index of string. `endpos` is set as a very large integer (by default).

- Returns `None` if no match found.

- If a match is found, a `Match` object is returned, containing information about the match: where it starts and ends, the substring it matched, and more.

In [ ]:
pattern = re.compile("hello")

In [ ]:
match = pattern.match("hello world")

In [ ]:
match.span()

(0, 5)

In [ ]:
match.start()

0

In [ ]:
match.end()

5

In [ ]:
pattern.match("say hello", pos=4) is None

False

In [ ]:
pattern.match("hello", endpos=4) is None

True

### `search(string[, pos[, endpos]])`

- A match is checked throughtout the string.

- Same behaviour of `pos` and `endpos` as the `match()` function.

- Returns `None` if no match found.

- If a match is found, a `Match` object is returned.

In [ ]:
pattern.search("say hello")

In [ ]:
pattern.search("say hello hello")

### `findall(string[, pos[, endpos]])`

- Finds **all non-overlapping substrings** where the match is found, and returns them as a list.

- Same behaviour of `pos` and `endpos` as the `match()` and `search()` function.

In [ ]:
pattern.findall("say hello hello")

['hello', 'hello']

### `finditer(string[, pos[, endpos]])`

- Finds **all non-overlapping substrings** where the match is found, and returns them as an iterator of the `Match` objects.

- Same behaviour of `pos` and `endpos` as the `match()`, `search()` and `findall()` function.

In [ ]:
matches = pattern.finditer("say hello hello")

In [ ]:
for match in matches:
    print(match.span())

(4, 9)
(10, 15)

In [ ]:
from utils import highlight_regex_matches
highlight_regex_matches(pattern, "say hello hello")

say hello hello

> By now, you must have noticed that `match()`, `search()` and `finditer()` return `Match` object(s) where as `findall()` returns a list of strings.


### Note:

It is not mandatory to create a `Pattern` object explicitly using `re.compile()` method in order to perform a regex operation.

You can direclty use the module level functions such as:
- `re.match(pattern, string, flags=0)`

- `re.search(pattern, string, flags=0)`

- `re.findall(pattern, string, flags=0)`

- `re.finditer(pattern, string, flags=0)`

and so on.

In a module level function, you can simply pass a **string** as your **regex pattern** as shown in the examples below.

In [ ]:
re.match("hello", "hello")

In [ ]:
re.findall("hello", "say hello hello")

['hello', 'hello']

### Important Example

Consider the example below:

In [ ]:
txt = "This book costs $15."

Search for the pattern `$15`.

In [ ]:
pattern = re.compile("$15")

In [ ]:
pattern.search(txt)

### No match found. Why?

`$` is a metacharacter and has a special meaning for regex engine. Here, we want to treat it like a literal.

In order to treat a metacharacter like a literal, you need to **escape** it using `\` character.

In [ ]:
pattern = re.compile("\$15")

In [ ]:
pattern.search(txt)

In regular expressions, there are twelve metacharacters that should be escaped if they are to be used with their literal meaning:

- Backslash `\`
- Caret `^`
- Dollar sign `$`
- Dot `.`
- Pipe symbol `|`
- Question mark `?`
- Asterisk `*`
- Plus sign `+`
- Opening parenthesis `(`
- Closing parenthesis `)`
- Opening square bracket `[`
- The opening curly brace `{`

![](images/memes/meme4.jpg)